{#{% extends "layout.html.twig" %}

{% block content %}
    guestBook



{% endblock %}#}

<script src='https://www.google.com/recaptcha/api.js'></script>

<form action="#" method="post">
    {{ form_widget(form) }}

    {#<input type="submit" name="submit" value="Submit" />#}

    <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
</form>



